<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNqf4o4F8mHE9SGix0fDx-oj_RGYtVzRI</string>
	<key>GCM_SENDER_ID</key>
	<string>245175356725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hostelmanagemnt</string>
	<key>PROJECT_ID</key>
	<string>hostelmanager-a43a5</string>
	<key>STORAGE_BUCKET</key>
	<string>hostelmanager-a43a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245175356725:ios:c7913e3f47002e37bb507c</string>
</dict>
</plist>